@namespace VxFormGenerator.Components.Plain.Render
@inherits VxFormGenerator.Components.Plain.Render.VxFormRowComponent



<div class="form-row">
    @if (FormRowDefinition.Label != null)
    {
        <label class="col-sm-3 col-form-label">@FormRowDefinition.Label</label>
    }

    @foreach (var column in FormRowDefinition.Columns)
    {
        <VxFormGenerator.Components.Plain.Render.VxFormColumn FormColumnDefinition="@column">

        </VxFormGenerator.Components.Plain.Render.VxFormColumn>
    }
</div>

