@namespace VxFormGenerator.Components.Plain.Render
@inherits VxFormGenerator.Components.Plain.Render.VxFormGroupComponent

<fieldset>

    <h5>@FormGroupDefinition.Label</h5>


    @foreach (var row in FormGroupDefinition.Rows)
    {
        <VxFormGenerator.Components.Plain.Render.VxFormRow FormRowDefinition="@row">

        </VxFormGenerator.Components.Plain.Render.VxFormRow>
    }
</fieldset>
